body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1s linear infinite;
}

.h-50vh-minus-100 {
  height: calc(50vh - 100px);
}

.message-text {
  text-align: center;
  letter-spacing: 0.44px;
  color: #778da9;
  opacity: 1;
  font: normal normal normal 22px/33px Poppins;
  margin-top: 1.8rem;
}

.message-sub-text {
  text-align: center;
  font: normal normal medium 22px/33px Poppins;
  letter-spacing: 0.44px;
  color: #778da9;
  opacity: 1;
  margin-top: 0.5rem;
}

.text-error {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.66;
  text-align: left;
  margin-top: 3px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #f44336;
}
